

<h1>"hello there"</h1>

<form action="/goodbye">
<label>email</label>
<input type= "text" name="zebra">

<label for="bob">last name</label>
<input id="alice" type="text" name="giraffe">

<button>Go to /goodbye</button>
</form>
