<form action=/square_root/results>
<div>
  <label for="sq_rt_num">Enter a number</label>

  <input id="sq_rt_num" type="text" name="users_number">
  <button>Calculate square root</button>
  </div>
  </form>
